.col-12{
    width: 100px;
}
.tamanho1{
    width: 230px;    
}

.bordas{
    border: 2px solix black;
    border-radius: 5px;
    ;
}

.col-6{
    justify-content: center;
}

h4{
    height: 15px;
}

input{
    width: 60px !important;
    text-align: center;
}